.all-games-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto; /* Center the container horizontally */
  }

  .test-123 {
    width: 100%;
    max-width: 900px;
    height: 204px; /* Set a fixed height for each game container */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .photo {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Use 'contain' instead of 'cover' */
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc
  }

  .game-details {
    flex: 10%;
  }

  .game-desc{
    flex: 50%;

  }

  .game-price{
    display: flex;
    flex: 25%;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
    gap: 10px;
  }

  .game-title {
    font-weight: bold;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
  }

  .game-link {
    width: 100%;
    text-decoration: none;
    color: #333;
  }

  .all-games-right-des {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .left-img{
    max-width: 300px;
    width: 100%;
  }

  .add-to-cart{
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;

  }

  .sorting-options {

      width: 100%;
      max-width: 900px;
      /* height: 204px; */
      margin-bottom: 10px;
      /* border: 1px solid #ccc; */
      /* border-radius: 5px; */
      /* overflow: hidden; */
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;

  }

  .sorting-options button {
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
  }

  .allgames-system-price{display: flex;
    flex-direction: row;
    /* align-content: center; */
    align-items: center;}

.allgames-system-support{
  font-weight: bold;
  font-size: 15px;
}

.load-more-button {
  padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}

.game-container {
  width: 900px;
}
