.all-games-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .test-123 {
    width: 100%;
    max-width: 600px;
    height: 200px; /* Set a fixed height for each game container */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }

  .photo {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Use 'contain' instead of 'cover' */
    border-bottom: 1px solid #ccc;
  }

  .game-details {
    padding: 10px;
  }

  .game-title {
    font-weight: bold;
  }

  .game-link {
    width: 100%;
    text-decoration: none;
    color: #333;
  }
