.create-review-field {
    display: flex;
flex-direction: column;
gap: 25px;
}

.create-review-rating {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.review-rating-input {
    height: 25px;
    width: 25px;
}

.h1Review {
    margin-bottom: 15px;
}

.add-review-button {
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
