.games-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    margin-top: 50px;

}

.manage-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#game-img {
    width: 200px;
    height: 200px;
}

.games_grid_update-button {

    width: 200px;
    height: 200px;

}

.update-delete-button {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.manage h2 {
    display: flex;
    align-items: center;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.update-delete-button button {

    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    align-items: center;
}

#update-button {
    color: black;
}
